.card {
  background: var(--bg-light);
  border: 1px solid var(--border-light);
  box-shadow: var(--shadow-soft);
  padding: 25px;
  border-radius: var(--radius);
  width: 44rem;
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chartWrapper {
  flex: 1;
  position: relative;
  width: 100%;
  height: 60%;
}

.filtro {
  padding: 8px 14px;
  border-radius: 8px;

  background: var(--bg-cream);
  color: var(--text-normal);

  border: 1px solid var(--accent-1);
  cursor: pointer;
  transition: .25s ease;
  font-weight: 500;
}

.filtro:hover {
  background: var(--accent-1);
  color: var(--text-inverse);
}


.ativo {
  background: var(--accent-1);
  color: var(--text-inverse);
  box-shadow: 0 0 10px rgba(242, 116, 5, 0.4);
  cursor: default;
  transform: translateY(-1px);
}
@media (max-width: 700px) {
  .card {
    width: 100%;
    height: 80vh;
    padding: 18px;
  }
  
  .chartWrapper {
    width: 90%;
    height: 30rem;
  }

  .card{
    height: 100vh;
  }

  .filtros {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .filtro {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
}
