.card {
    background: #f8f8f8;
    padding: 25px;
    border-radius: var(--radius);
    box-shadow: 0 6px 26px rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(0, 0, 0, 0.08);
    margin-top: 35px;
    width: 100%;
    height: 60vh;         /* OBRIGATÓRIO */
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .chartWrapper {
    flex: 1;              /* faz ocupar todo o espaço restante */
    position: relative;   
    width: 100%;
    height: 100%;         /* garante que o gráfico ficara dentro do card */
  }
  
  .chartWrapper canvas {
    width: 100% !important;
    height: 100% !important;  /* gráfico cresce DENTRO do card */
  }
  