.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #00000069;
}

.backgroundContent {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(6) grayscale(10) contrast(1.1);
}

.content {
    display: flex;
    width: 60%;
    height: 75%;
    justify-content: center;
    align-items: center;
}

.forms {
    width: 50%;
    height: 100%;
    z-index: 2;
}

.formLogin {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.formRegister {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.backgroundImg {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    z-index: 1;
}

.rights {
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    margin-bottom: 2rem;
    color: #ffffffce;
    border: 2px solid rgba(255, 255, 255, 0.35);
    background-image: linear-gradient(10deg, #ffffff75, #ffffff1c, #B5B3B320, #A2A1A120);
    backdrop-filter: blur(10);
    box-shadow: inset 0 0 8px 1px rgba(255, 255, 255, 0.2),
        0 0 10px rgba(255, 255, 255, 0.1);
    z-index: 1;
}

.cardGlass {
    width: 100%;
    height: 10%;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    background-image: linear-gradient(90deg, var(--white200), var(--white50));
    color: transparent;
    top: calc(var(--move-by) * -1);
    left: var(--move-by);
    position: absolute;
}

.backgroundImg p {
    font-size: 12px;
}


@media (max-width: 650px) {
    .formLogin {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}