.formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #F2F2F2, #E5E5E5);
    border-radius: 0 10px 10px 0;
    width: 100%;
    height: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    row-gap: 1rem;
}

.title h2{
    font-size: 30px;
}


.selection {
    display: flex;
    width: 70%;
    height: 2.1rem;
    border-radius: 50px;
    box-shadow: 0 0 2px #838383;
    margin-top: 2rem;
}

.selection button {
    width: 50%;
    height: 1.7rem;
    font-size: 12px;
    border-radius: 50px;
    margin: 0.2rem;
}

.btnActived {
    background-color: #8D63CD;
    color: #F2F2F2;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 30vh;
    row-gap: 1rem;
    padding-top: 2rem;
}

.inputs input {
    width: 100%;
    height: 2.2rem;
    padding-left: 1rem;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.329);
    box-shadow: 0 0 2px #838383;
    margin-top: 1rem;
    font-size: 13px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 2.5rem;
    background-color: #8D63CD;
    border-radius: 50px;
    color: white;
    font-size: 14px;
}

.message {
    height: 2rem;
    background-color: rgb(29, 250, 165);
}

.errorMessage {
    color: rgb(252, 113, 113);
    font-size: 12px;
    margin-top: 0.5rem;
    text-align: center;
}


@media (max-width: 650px) {
    .forms {
        width: 23rem;
        height: 55vh;
    }

    .title {
        text-align: center;
        padding: 0;
    }
}

@media (max-width: 550px) {

    .forms {
        width: 25rem;
        height: 70vh;
        row-gap: 1.5rem;
    }
}

@media (max-width: 430px) {
    .forms {
        width: 19rem;
        height: 55vh;
        row-gap: 1rem;
    }

    .forms input {
        width: 16rem;
    }

    .forms button {
        width: 16rem;
        height: 2.5rem;
    }
}

@media (max-width: 390px) {
    .forms {
        width: 18rem;
        height: 63vh;
        row-gap: 0.5rem;
    }

    .forms .title {
        font-size: 40px;
    }

    .forms input {
        width: 15rem;
    }

    .forms button {
        width: 15rem;
        height: 2.5rem;
    }
}

@media (max-width: 350px) {
    .forms {
        height: 45vh;
    }
}

@media (max-height: 800px) {
    .forms {
        width: 26rem;
        row-gap: 1rem;
    }
}

@media (max-height: 600px) {
    .forms {
        width: 24rem;
        height: 75vh;
        row-gap: 1.3rem;
    }
}

@media (max-height: 500px) {
    .forms {
        row-gap: 0rem;
        width: 17rem;
    }
}