.menu {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-dark);
}

.menu svg {
    width: 3.5rem;
    height: 3.5rem;
}

.hamburger {
    width: 1.5rem;
    height: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger span {
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
}

.linksClosed {
    display: none;
}

.linksOpen {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    padding: 2rem 0;
    background-color: var(--bg-dark);
    gap: 1.5rem;
    align-items: center;
    z-index: 20;
}


.logo {
    display: flex;
    align-items: center;
    font-family: "Marcellus";
    color: #e7e7e7;
    font-weight: 700;
}

.links {
    display: flex;
    column-gap: 3rem;
    align-items: center;
    color: #e7e7e7;
    font-family: "Playfair";
    font-size: 16px;
}

.suporte {
    display: flex;
    align-items: center;
}


.suporte button {
    width: 7rem;
    height: 1.8rem;
    border-radius: 14px;
    border: 1px solid #e7e7e7;
    background-color: rgba(240, 248, 255, 0);
    color: #e7e7e7;
    font-family: "Marcellus";
    cursor: pointer;
}

@media (max-width: 768px) {
    .logo svg {
        height: 2.5rem;
    }

    .links {
        display: none;
    }

    .links.linksOpen {
        display: flex;
    }

    .suporte {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .menu {
        position: relative;
        justify-content: space-between;
        padding: 0 1rem;
    }
}