* {
  margin: 0;
  padding: 0;
   box-sizing: border-box;
}

:root {
  --bg-dark: #aa2014;
  --bg-1: #161414;
  /* parede escura */
  --bg-2: #221f1f;
  /* variação */
  --card: rgba(255, 255, 255, 0.06);
  --muted: rgba(255, 255, 255, 0.75);
  --accent-1: #FF7A00;
  /* vermelho/forno */
  --accent-2: #FFB84D;
  /* dourado */
  --glass: rgba(255, 255, 255, 0.04);
  --glass-strong: rgba(255, 255, 255, 0.07);
  --success: #46C77A;
  --danger: #FF5C5C;
  --radius: 14px;
  --soft-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
}

@font-face {
  font-family: "Marcellus";
  src: url("../../public/fonts/Marcellus/Marcellus-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Playfair";
  src: url("../../public/fonts/Playfair/PlayfairDisplaySC-Regular.ttf");
  font-style: normal;
}

html,
body,
#root {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}