* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-cream: #F9F5F0;
  --bg-light: #FFF8F0;
  --bg-dark: #4A0004;

  --text-strong: #8C030E;
  --text-normal: #4A4A4A;
  --text-light: #7A7A7A;
  --text-inverse: #FFF8F0;

  --red-strong: #8C030E;
  --green-dark: #2E5902;
  --green-light: #4F7A03;
  --orange-strong: #F27405;
  --red-cta: #D92B04;

  --btn-primary: var(--red-cta);
  --btn-primary-hover: #B82503;
  --btn-secondary: var(--orange-strong);
  --btn-secondary-hover: #C65F04;

  --accent-1: var(--orange-strong);
  --accent-2: var(--red-strong);
  --accent-3: var(--green-light);

  --border-light: rgba(0, 0, 0, 0.08);
  --shadow-soft: 0 4px 16px rgba(0, 0, 0, 0.1);
  --shadow-strong: 0 6px 26px rgba(0, 0, 0, 0.15);

  --radius: 12px;
}


@font-face {
  font-family: "Marcellus";
  src: url("../../public/fonts/Marcellus/Marcellus-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Playfair";
  src: url("../../public/fonts/Playfair/PlayfairDisplaySC-Regular.ttf");
  font-style: normal;
}

html,
body,
#root {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}