*{
  margin: 0;
  padding: 0;
}

:root{
  --bg-dark: #aa2014;
}

@font-face {
  font-family: "Marcellus";
  src: url("../../public/fonts/Marcellus/Marcellus-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Playfair";
  src: url("../../public/fonts/Playfair/PlayfairDisplaySC-Regular.ttf");
  font-style: normal;
}