.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #aa2014;
    background: radial-gradient(circle, rgba(212, 107, 99, 1) 0%, rgba(170, 32, 20, 1) 40%);
    height: 100vh;
}

.banner {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 94vh;
}

.banner img{
    width: 60%;
    height: 100%;
    object-fit: contain;
}

.title {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 10%;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 40%;
    color: white;
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
  }

  .banner img {
    width: 100%;
  }

  .title {
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 22px;
  }
}
