.formRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #F2F2F2, #E5E5E5);
    border-radius: 0 10px 10px 0;
    width: 100%;
    height: 100%;
    padding: 17%;
    box-sizing: border-box;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    row-gap: 1rem;
}

.title h2 {
    font-size: 2rem;
    text-align: center;
}

.selection {
    display: flex;
    width: 100%;
    height: 2.5rem;
    border-radius: 50px;
    box-shadow: 0 0 2px #838383;
    margin-top: 1.5rem;
}

.selection button {
    flex: 1;
    font-size: 0.9rem;
    border-radius: 50px;
    margin: 0.2rem;
    border: none;
    cursor: pointer;
}

.btnActived {
    background-color: #AB2015;
    color: #ED931A;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    row-gap: 1rem;
}

.inputs input {
    width: 100%;
    height: 2.2rem;
    padding-left: 1rem;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.33);
    font-size: 0.9rem;
    border: 1px solid rgb(184, 182, 182);
    box-sizing: border-box;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
}

.buttons button {
    background-color: #AB2015;
    color: #ED931A;
    border: none;
    width: 100%;
    height: 2.5rem;
    border-radius: 50px;
    cursor: pointer;
}

.errorMessage {
    color: rgb(252, 113, 113);
    font-size: 1rem;
    text-align: center;
    margin-top: 0.5rem;
    font-weight: 600;
}

/* Media Queries */
@media (max-width: 550px) {
    .formRegister {
        width: 95%;
        padding: 1.5rem;
    }

    .title h2 {
        font-size: 1.5rem;
    }

    .inputs input {
        height: 2rem;
        font-size: 0.85rem;
    }

    .selection {
        height: 2rem;
    }
}

@media (max-width: 400px) {
    .formRegister {
        padding: 1rem;
    }

    .inputs input, .selection button, .buttons button {
        font-size: 0.8rem;
    }

    .inputs {
        row-gap: 0.8rem;
    }
}

@media (max-height: 600px) {
    .formRegister {
        height: 80%;
    }
}
